.current-repo{
    .repo-name{
        background: #FFFD54;
        margin-bottom: 5px;
    }
    .repo-description{
        font-weight: bold;
        font-size: 16px;
    }
    .repo-lastUpdate{
        font-size: 14px;
        font-style: italic;
    }
}