body {
    margin: 0px;
}

.container {
    display: flex;
    flex-flow: row, nowrap;
    width: 100%;
    background: yellow;
    height: 300px;
    list-style: none;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
}

.item {
    width: 100px;
    height: 100px;
    background: purple;
    margin: 0px 7px 0px 0px;
}