/* <style>
h1 {
    color: #000FC8;
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
}

h2 {
    color: #F5AB18;
    font-size: 18px;
}

li {
    color: #0A09E9;
}

.inner {
    color: black;
}
</style> */

h2 {
    color: #F5AB18;
}