header {
    margin: 0, auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.rightArrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.frame {
    background: white;
    display: flex;
    margin: 60px;
}

.images {
    width: 60%;
    margin: 0px auto;
    text-align: center;
    flex-grow: 1;
}

.images img {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

button {
    width: 50px;
    height: 600px;
    background: url('../arrow.svg') no-repeat center;
    border: 0 solid white;
    outline: none;
}

.thumbnail {
    min-width: 827px;
    margin: 0 auto;
    text-align: center;
}

.thumbnail>a {
    width: 80px;
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-flex;
    border: 5px solid #EAE9E9;
    box-shadow: 0px 6px 14px 0px rgba(48, 48, 48, 0.7);
    text-align: center;
    vertical-align: middle;
}

.thumb {
    width: 80px;
    height: 60px;
    display: block;
    text-align: center;
}

a:hover,
a:focus {
    box-shadow: 0px 10px 20px 1px rgba(8, 7, 7, 0.9);
    transform: translateY(-0.25em);
}

a[bubbletooltip]:link,
a[bubbletooltip]:visited {
    text-decoration: none;
    position: relative;
    color: red;
}

a[bubbletooltip]:before {
    content: "";
    position: absolute;
    border-top: 22px solid #0b1129;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    visibility: hidden;
    top: -26px;
    left: 19px;
}


/* pop up text is not centred. don't know why
already put text-alian in its containter */

a[bubbletooltip]:after {
    width: 100%;
    position: absolute;
    content: attr(bubbletooltip);
    display: block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    top: -36px;
    left: -28%;
    white-space: nowrap;
    background: #0b1129;
    color: #FFFFFF;
    padding: 6px 25px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    visibility: hidden;
}

a[bubbletooltip]:hover:before,
a[bubbletooltip]:hover:after {
    visibility: visible;
    -moz-transition: visibility 0s linear .3s;
}


/* discription
 */

a[discription]:focus:after,
a[discription]:focus:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

a[discription]:focus:after {
    border-color: rgba(234, 233, 233, 0);
    border-bottom-color: #EAE9E9;
    border-width: 30px;
    margin-left: -30px;
}

a[discription]:focus:before {
    border-color: rgba(234, 233, 233, 0);
    border-bottom-color: #EAE9E9;
    border-width: 36px;
    margin-left: -36px;
}