body {
    /* background: linear-gradient( #BA4F22 10%, #BA4F22 100%) */
    background: linear-gradient(to right, #A13B12, #DE503C);
}

.container {
    position: absolute;
    top: 300px;
    left: 15%;
    width: 70%;
    height: 400px;
    background: rgba(197, 115, 74, 0.2);
    border: 2px solid white;
    border-radius: 15px;
}


/* linear-gradient direction */

.button1 {
    display: block;
    width: 100px;
    padding: 20px;
    border: 1px solid #7F81C4;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(to left, #6063B8, #484987);
    position: absolute;
    left: 260px;
    top: 160px;
}

.button2 {
    display: block;
    width: 100px;
    padding: 20px;
    border: 1px solid #7F81C4;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(to right, #B0AC3A, #DDD84B);
    position: absolute;
    left: 420px;
    top: 160px;
}