h1 {
    color: #000FC8;
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
}

h2 {
    color: #F5AB18;
    font-size: 18px;
}

ul {
    color: #0A09E9;
    list-style-type: square;
}

ul ul {
    list-style-type: disc;
}

ul+li {
    color: red;
}

ul ul,
ul ol {
    color: black;
}


/* h2 {
    color: #F5AB18;
} */