body {
    margin: 0px;
    font-family: sans-serif;
}

aside {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    padding-left: 8px;
    background-color: #F6F6F6;
}

.logo a {
    display: block;
    background-image: url(images/enwiki-2x.png);
    background-size: 135px auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    height: 160px;
    width: 160px;
}

.portal {
    font-size: 16px;
    width: 139.219px;
    margin: 16px 9.6px 0px 11.2px;
    padding: 4px 0px 4px 8px;
    color: rgb(6, 69, 173);
}

.mainPage {
    height: 137.797px;
}

.interaction {
    height: 125.797px;
}

.tools {
    height: 182.797px;
}

.print {
    height: 87.797px;
}

.inOtherWords {
    height: 49.797px;
}

.language {
    height: 513.797px;
}

ul {
    display: block;
    font-size: 16px;
    height: 133px;
    list-style-type: none;
    margin: 0px;
    padding: 4.8px 0px 0px 0px;
    width: 131.219px;
}

li {
    font-size: 12px;
    height: 13px;
    line-height: 13.5px;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: left;
    width: 131.219px;
    word-wrap: break-word;
}

h3 {
    text-align: left;
    border-color: rgb(68, 68, 68);
    color: rgb(68, 68, 68);
    border-width: 0px;
    display: block;
    font-size: 12px;
    height: 14px;
    margin: 6px 0px 0px 0px;
    padding: 3px 0px 3px 0px;
    font-weight: normal;
}

.silverLine {
    border: 0;
    height: 1px;
    padding: 0.1px 0px 0.1px;
    margin-right: 13px;
    background: radial-gradient(rgb(68, 68, 68), whitesmoke);
}